* {
    margin: 0;
    padding: 0;
}


nav{
    background-color: rgb(255, 72, 0);
    height: 80px;
    width: 100%;
}

.icons{
    background-color: grey;
    color: white;
    padding: 10px 13px;
    line-height: 20px;
}
    
nav ul{
    float: right;
    margin-right: 55px;
}

nav ul li{
    display: inline-block;
    line-height: 10px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    display: inline-block;
    font-family: cursive;
    font-size: 20px;
    padding: 0 13px;
   margin-bottom: 1.5rem;
}


span{
    color: limegreen;
}

.container h2{
    float: left;
    margin-left: 8%;
    font-size: 10;
    width: 80%;
    padding: 10px;
    height: 100%;
}



.wa img {
    
    float: right;
    margin-right: 37px;
    max-width: 80%;
  
}


.bisnis img {
    
    float: right;
    margin-right: 30px;
    max-width: 100%;
    height: 100%;
    width: 100vh;
    margin: auto;
}


.mabar img {
    
    
    float: right;
    margin-right: 50px;
    max-width: 110%;
    height: 100%;
    width: 100vh;
    margin: auto;
}



.sinetron img {
    
    float: right;
    margin-right: 30px;
    max-width: 100%;
    height: 100%;
    width: 100vh;
    margin: auto;
}

.bioskop img {
    
    float: right;
    margin-right: 30px;
    max-width: 100%;
    height: 100%;
    width: 100vh;
    margin: auto;
}


.quotes img {
    
   
    float: right;
    margin-right: 30px;
    max-width: 100%;
    height: 100%;
    width: 100vh;
    margin: auto;
}




.jb img {
   
    float: right;
    margin-right: 30px;
    max-width: 100%;
    height: 100%;
    width: 100vh;
    margin: auto;
}



.komunitas img {
   
    
    float: right;
    margin-right: 30px;
    max-width: 100%;
    height: 100%;
    width: 100vh;
    margin: auto;
}


p {
    margin: 20px;   
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    float: left;
    margin-left: 10px;
    width: 100%;
    padding: 10px;
    height: 100%;
}
h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    float: left;
    margin-left: 10px;
    width: 100%;
    padding: 10px;
    height: 100%;
}
h5{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    float: left;
    margin-left: -6px;
    width: 100%;
    padding: 10px;
    height: 100%;
}

h6{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    float: left;
    margin-left: -9px;
    width: 100%;
    padding: 10px;
    height: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 30px;
    padding: 0 100px;
    flex: right;
    margin-right: 100%;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.checkButton{
    
    font-size: 30px;
    color: white;
    float: left;
    line-height: 80px;
    margin-left: 25px;
    cursor: pointer;
    display: none;
}

.myCheckBox{
    display: none;
}

nav ul li a:hover,a.active{
    color: white;
    display: block;
    border-radius: 20px;
    background: rgb(236, 125, 21);
   padding: 5px 10px;
   margin: auto;
   transition: 0.2s;
   
}

@media screen and (max-width:952px) {


    
    label.logo{
        font-size: 30px;
        padding-left: 50px;
        margin: 5px;
        line-height: 80px;
        padding: 40px;
    }
    .container h2{
        flex: right;
        margin-right: 100px;
    }

  
    p a:hover{
        color: red;
    }

    nav ul li a{
        font-size: 16px;
        
    }
    .myCheckBox:checked ~ ul{
        left: 0;
    }
}


@media screen and (max-width:858px) {
 
    .checkButton {
        display: block;
    }

span{
   
    color: limegreen;
    font-family: cursive;
}


    ul{
        position: absolute;
        width: 100%; 
        height: 55vh;
        background-color: rgb(255, 255, 255);
        top: 80px;
        left: -100%;
        flex-direction: column;
        text-align: center;
        transition: all 0.5s;
    }

    nav ul li{
        display: block;
        margin: 20px 0;
        line-height: 30px;

    }

    nav ul li a{
        font-size: 25px;
        color: black;

    }

    nav ul li a:hover,a.active{
        color: white;
    }

  

    p a:hover{
        color: red;

    }
    
    .myCheckBox:checked ~ ul{
        left: 0;
    }

    .container h2{
       float: right;
       margin-right: -8px;
    }
}    
